@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9870b1;
}

body {
  margin: 0;
}

button,
span {
  display: inline-flex;
  align-items: center;
}

.ant-descriptions-item-content span {
  width: 100%;
}

.ant-select-selection-item-content {
  overflow: unset !important;
}

.ant-select-selection-overflow {
  gap: 8px;
}

.ant-table-thead tr .ant-table-cell {
  background-color: var(--primary) !important;
  color: white !important;
}
